
$white = #efefef
$black = black

$alpha = white
$alpha-text = black
$beta = blue
$beta-text = white
$gamma = yellow
$gamma-text = darkgray
$delta = green
$delta-text = brown
$epsilon = cyan
$epsilon-text = black
$epsilon-alt = teal
$epsilon-alt-text = black

$red = red