body {
    background-color: slategray;
    /*padding: 20px;*/
}
[v-cloak] {
    display: none;
}
h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    color: black;
    transition: all 1s;
    margin-bottom: 0;
}

h2:hover {
    border-bottom: 3px solid black;
}

a:hover {
    text-decoration: none;
}
.container {
    padding: 0;
}
.beatBox {
    display : inline-block;
    height : 50px;
    width : 50px;
    border : 3px solid black;
    border-radius: 5px;
    margin : 5px;
    transition : all .01s;
    text-align:center;
    line-height:150px;
    vertical-align: middle;
    background-color: rgb(110,150,120);
}
#controls {
    vertical-align: top;
}

#controls button {
    margin: 5px;
}
button:focus {
    outline:0;
}

.beat-map {
    width: 50vw;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 0;
}


.beat-box {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 4px;
    height: 20px;
}
.active-beat {
    background-color: red;
}