body{
background-color:#708090;
}
[v-cloak]{
display:none
}
h3{
margin-top:15px;
margin-bottom:15px
}
h2{
color:#000;
transition:all .3s;
margin-bottom:0
}
a:hover{
text-decoration:none
}
.container{
padding:0
}
.beatBox{
	display:inline-block;
	height:50px;width:50px;
	border:3px solid #000;
	border-radius:5px;
	margin:5px;
	transition:all .01s;
	text-align:center;
	line-height:150px;
	vertical-align:middle;
	background-color:#6e9678;
}
#controls{
vertical-align:top
}
.instrument-config .card-body{
border-radius:1px;
background-color:#efefef;
border-color:#efefef
}
#controls button
{margin:5px
}
button:focus{
outline:0
}
.beat-map{
width:50vw;
border:2px solid #000;
border-radius:5px;
line-height:0
}
.beat-box{
background-color:#f0f8ff;
border:1px solid #000;
border-radius:4px;
height:40px;
position: relative;
}
.beat-number{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.active-beat{
background-color:#f00
}
.bordered{
border-left:3px solid #000;
border-top:3px solid #000;
border-bottom:3px solid #000;
border-right:3px solid #000
}
.alpha{
background-color:#efefef;
color:#111
}
a[aria-expanded="false"] h2:hover{
border-bottom:3px solid #000;
transition:all .5s
}
.beta{
background-color:#336;
color:#eee
}
.gamma{
background-color:#179;
color:#000;
}
.delta{
background-color:#362;
color:#111;
}
.epsilon{
background-color:#855;
color:#999;
margin-bottom: 40px;
}
.volume-bar{
background-color:#efefef;
border:2px solid #000
}
.volume-bar.scheduled{
box-shadow:4px 4px 2px
}
.volume-bar.recording{
background-color:#f00
}
.volume-bar.muted{
opacity:.1
}
