<a class="" data-toggle="collapse" href="#collapseBass" role="button" aria-expanded="false" aria-controls="collapseBass">
    <h2>Bass</h2>
</a>
<div class="collapse bordered beta " id="collapseBass">
    <div class="p-3">
        <span>hi</span>
    </div>
</div>