<a class="" data-toggle="collapse" href="#collapseDrums" role="button" aria-expanded="false" aria-controls="collapseKeys">
    <h2>Drums</h2>
</a>
<div class="collapse bordered delta " id="collapseDrums">
    <div class="p-3">
        <span>hi</span>
    </div>
</div>