<a class="" data-toggle="collapse" href="#collapseMicrophone" role="button" aria-expanded="false" aria-controls="collapseMicrophone">
    <h2>Microphone</h2>
</a>
<div class="collapse bordered epsilon " id="collapseMicrophone">
    <div class="p-3">
        <div class="row">
            <div v-for="inst in ['epsilon', 'EPSILON']" class="col-md-6">
                <div v-if="instruments[inst]" class="">

                    <label>Volume</label>
                    <input v-model.number="instruments[inst].defaultVolume" type="range" min="0" max="1" step=".05">
                    <input v-model.number="instruments[inst].defaultVolume" >
                    <br>
                    <label>Panning</label>
                    <input v-model.number="instruments[inst].panning.location" type="range" min="-1" max="1" step=".1">
                    <input v-model.number="instruments[inst].panning.location" >
                    <hr>

                    <div v-if="instruments[inst].filter">
                        <label>Filter Type</label>
                        <select v-model="instruments[inst].filter[0].type">
                            <option value="lowpass">Lowpass</option>
                            <option value="highpass">Highpass</option>
                            <option value="bandpass">Bandpass</option>
                            <option value="lowshelf">Lowshelf</option>
                            <option value="highshelf">Highshelf</option>
                            <option value="peaking">Peaking</option>
                            <option value="notch">Notch</option>
                            <option value="allpass">Allpass</option>
                        </select>
                        <hr>
                        <label>Filter Frequency</label>
                        <input v-model.number="instruments[inst].filter[0].frequency" type="range" min="0" max="6000" >
                        <input v-model.number="instruments[inst].filter[0].frequency" >
                        <br>
                        <div v-if="instruments[inst].filter[0].env">
                            <label>Filter Attack</label>
                            <input v-model.number="instruments[inst].filter[0].env.attack" type="range" min="0" max="1" >
                            <input v-model.number="instruments[inst].filter[0].env.attack" >
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
