<a class="" data-toggle="collapse" href="#collapseSynth" role="button" aria-expanded="false" aria-controls="collapseKeys">
    <h2>Synth</h2>
</a>
<div class="collapse bordered gamma " id="collapseSynth">
    <div class="p-3">
        <span>hi</span>
    </div>
</div>